*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: inter, sans-serif;
}

:root{
    --bg-color: #d9d9d9;
    --text-color: #fff;
    --theme-color: #2e4745;
    --dark-theme: #233634;
    --bg-products: #bbb;
    --bg-products-hover: #a8afaf;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    background: var(--theme-color);
    display: flex;
    width: 100%;
    height: 65px;
    align-items: center;
    justify-content: space-around;
    padding: 8px 0px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo-nav{
    display: flex;
    padding-top: 10px;
}
    
header nav ul{
    display: flex;
}

header nav ul li a {
    display: inline-block;
    color: var(--text-color);
    padding: 5px 0;
    margin: 0 10px;
    text-transform: uppercase;
    font-size: 1.2rem;
}

header nav ul li a.active{
    text-decoration: underline;
}

header nav ul li a:hover{
    text-decoration: underline;
    color: var(--bg-color);
}

.fa-solid{
    color: var(--text-color);
}

.hero-home{
    display: flex;
    background-image: url(../images/homepage/hero-background-home.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.hero-home-text{
    padding: 20px;
    display: block;
}

.hero-home h2{
    font-size: 4rem;
    font-weight: 400;
}

.hero-home h1{
    font-size: 7rem;
    font-family: 'Inika', serif;
    font-weight: 400;
}

.hero-home p{
    font-size: 1.5rem;
    margin: 20px 0 10px 0;
    font-weight: 400;
}

.hero-home a{
    text-decoration: none;
    color: var(--theme-color);
    background-color: var(--text-color);
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px;
    font-size: 0.9em;
    font-weight: 700;
}

.bestsellers, .sale {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;
}


.bestsellers-products{
    display: flex;
    flex-wrap: wrap;
}

.bestsellers h2, .sale h2{
    font-family: inika, serif;
    font-size: 3em;
    font-weight: 400;
    color: var(--theme-color);

}

.newsletter{
    background: url(../images/homepage/NEWSLETTER.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}

.products-sale{
    display: flex;
    flex-wrap: wrap;
    gap: 3em;   
}

.home-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: url(../images/homepage/HOMEPAGE-BOTTOM-IMAGE.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
}

.home-info img{
    width: 100%;
    max-width: fit-content;       
}

.product-hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--theme-color);
    gap: 100px;
    max-height: 345px;
    }

.product-hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin-left: 100px;
}

.product-hero h1{
    font-size: 3rem;
    font-family: inika,serif;
    font-weight: 400;
    border-bottom: 1px solid var(--text-color);
}

.product-hero-img{
    width: 100%;
}

.product-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    margin: 50px 200px;
    gap: 150px;
}

.product-card img{
    max-width: fit-content;
    margin: 0px auto;
    background: var(--bg-products);
    padding: 1.5rem;
}

.product-card{
    display: flex;
    padding: 2rem;
    color: var(--theme-color);
}

.product-text h5{
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
}

.product-card a{
    text-decoration: none;
    color: var(--dark-theme);
}

.product-text{
    display: block;
    gap: 1em;
}

.product-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.colors {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 150px;
    border-width: 3px #fff;
    margin: 10px auto;
}

.mens-royal1{
    background-color: #083b58;
}

.mens-royal2{
    background-color: #b71414;
}

.mens-royal3{
    background-color: #d8af1f;
}

.mens-omnis1{
    background-color: #89224b;
}

.mens-omnis2{
    background-color: #345f00;
}

.mens-omnis3{
    background-color: #fff;
}

.mens-imprint1{
    background-color: #272a1c;
}

.mens-imprint2{
    background-color: #fff;
}

.mens-imprint3{
    background-color: #000;
}

.mens-imprint4{
    background-color: #4745b1;
}

.mens-imprint5{
    background-color: #a2a50a;
}

.mens-nomad1{
    background-color: #5e5a3b;
}

.mens-nomad2{
    background-color: #848484;
}

.mens-nomad3{
    background-color: #000;
}

.mens-nomad4{
    background-color: #3f3e7b;
}

.mens-nomad5{
    background-color: #fff;
}

.mens-sigma1{
    background-color: #004469;
}

.mens-sigma2{
    background-color: #707070;
}

.mens-sigma3{
    background-color: #000;
}

.mens-renegade1{
    background-color: #8f8f8f;
}

.mens-renegade2{
    background-color: #000;
}

.mens-renegade3{
    background-color: #283d0e;
}

