









:root{
    --bg-color: #d9d9d9;
    --text-color: #fff;
    --theme-color: #2e4745;
    --dark-theme: #233634;
    --bg-products: #bbb;
    --bg-products-hover: #a8afaf;
    --normal-text: 1.1em;
    --larger-text: 1.3em;
    --large-text: 1.7em;
    --headline:
}